.about{
    padding-bottom:48px;
}

.about-top{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.picture{
    height:300px;
    border-radius: 50%;
}

.about-info{
    font-size: 24px;
}

.info-name{
    color:rgb(255, 98, 0);
    font-size:32px;
}

.about-photo{
    margin-top:20px;
}

@media only screen and (max-width: 720px){
    .about-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .picture{
        height:220px;
    }
    
    .about-info{
        font-size:20px;
    }

    .info-name{
        font-size:26px;
    }

    .download{
        margin: auto;
    }
}

.download {
background-color: #ff6200;
padding: 8px 16px;
border-radius: 4px;
width: 120px;
margin-top:20px;
}
.download a {
text-decoration: none;
color: #fff;
}

.download:hover{
    -ms-transform: scale(1.050); /* IE 9 */
    -webkit-transform: scale(1.050); /* Safari 3-8 */
    transform: scale(1.050); 
}